body {
	background: #fbec5d;
}
div{
	max-width: 50%;
}
#bt_4_0, #bt_3_0{
	background: #8cdee6;
}

#bt_0_0, #bt_0_1, #bt_0_2,  #bt_1_0, #bt_1_1, #bt_1_2, #bt_2_0, #bt_2_1, #bt_2_2{
	margin: 0;
	background: #59dcff;
}

#grade {
	display: grid;
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: 100px 100px 100px;
}

#grade button {
	font-size: 50pt;
}

#reiniciar, #desfazer{
	display: grid;
	grid-template-columns: 100px;
	grid-template-rows: 50px;
}

#reiniciar {
	font-size: 15pt;
	margin: 0;
}

#jogo{
	display:none;
}

#timer {
	font-size: 60pt;
}

#return button{
	display: block;
}