body {
	background: #fbec5d;
}
div{
	max-width: 50%;
}
div button, div input{
	background: #ffcbdb;
}

div button{
	margin: 0;
	background: #00ced1;
}

#bt_3_0{
	background: #ffcbdb;
}
#grade {
	display: grid;
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: 100px 100px 100px;
	
}

#grade button {
	font-size: 50pt;
}

#reiniciar{
	display: grid;
	grid-template-columns: 100px;
	grid-template-rows: 50px;
}

#reiniciar button {
	font-size: 15pt;
	margin: 0;
}

#jogo{
	display:none;
}

#timer {
	font-size: 60pt;
}

#gameover {
	font-size: 70pt;
	color: red;
}
#return button{
	display: block;
}

